@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Sold Houses", "Index", "SoldInfo")
@Html.ActionLink("Map", "Map", "Home")

<div ng-controller="MainListingController">

    <table class="table table-bordered table-striped">
	<thead>
	<tr>
	    <th nowrap ng-click="sortType = 'NeighbourhoodName'; sortReverse = !sortReverse" style="text-align: center">
	        NeighbourhoodName<span ng-show="sortType == 'NeighbourhoodName' && !sortReverse" class="caret caret-reversed"></span><span ng-show="sortType == 'NeighbourhoodName' && sortReverse" class="caret"></span>
	    </th>
	    <th nowrap ng-click="sortType = 'Bedrooms'; sortReverse = !sortReverse" style="text-align: center">
	        Bedrooms<span ng-show="sortType == 'Bedrooms' && !sortReverse" class="caret caret-reversed"></span><span ng-show="sortType == 'Bedrooms' && sortReverse" class="caret"></span>
	    </th>
	    <th nowrap ng-click="sortType = 'Bathrooms'; sortReverse = !sortReverse" style="text-align: center">
	        Bathrooms<span ng-show="sortType == 'Bathrooms' && !sortReverse" class="caret caret-reversed"></span><span ng-show="sortType == 'Bathrooms' && sortReverse" class="caret"></span>
	    </th>
@*	    <th nowrap ng-click="sortType = 'Type'; sortReverse = !sortReverse" style="text-align: center">
	        Type<span ng-show="sortType == 'Type' && !sortReverse" class="caret caret-reversed"></span><span ng-show="sortType == 'Type' && sortReverse" class="caret"></span>
	    </th>*@
@*		<th style="text-align: center">ParkingType</th>*@
		<th style="text-align: center">Address</th>
		<th style="text-align: center">Description</th>
	    <th nowrap ng-click="sortType = 'PriceCoefficient'; sortReverse = !sortReverse" style="text-align: center">
	        PriceCoefficient<span ng-show="sortType == 'PriceCoefficient' && !sortReverse" class="caret caret-reversed"></span><span ng-show="sortType == 'PriceCoefficient' && sortReverse" class="caret"></span>
	    </th>
@*		<th nowrap>MlsId</th>*@
	    <th nowrap ng-click="sortType = 'Price'; sortReverse = !sortReverse" style="text-align: center">
	        Price<span ng-show="sortType == 'Price' && !sortReverse" class="caret caret-reversed"></span><span ng-show="sortType == 'Price' && sortReverse" class="caret"></span>
	    </th>
	    <th ng-click="sortType = 'YearBuild'; sortReverse = !sortReverse" style="width: 100px; text-align: center">
	        YearBuild<span ng-show="sortType == 'YearBuild' && !sortReverse" class="caret caret-reversed"></span><span ng-show="sortType == 'YearBuild' && sortReverse" class="caret"></span>
	    </th>
		<th colspan="2" style="text-align: center">Links</th>
		<th style="text-align: center">Actions</th>
	</tr>
	</thead>
    <tbody>

        <tr ng-repeat="realEstate in listOfRealEstates | orderBy:sortType:sortReverse " class="repeated-item"  ng-class="{ 'success': realEstate.Status == 'Yes', 'warning': realEstate.Status == 'Maybe' }">

            <td>{{::realEstate.NeighbourhoodName}}</td>
            <td>{{::realEstate.Bedrooms}}</td>
            <td>{{::realEstate.Bathrooms}}</td>
@*            <td>{{::realEstate.Type}}</td>*@
@*            <td>{{::realEstate.ParkingType}}</td>*@
            <td>{{::realEstate.AddressText}}</td>
            <td>{{::realEstate.PublicRemarks}}</td>
            <td>{{::realEstate.PriceCoefficient}}
                <span ng-show="realEstate.IsNew == true" class="glyphicon glyphicon-envelope" style="color: red; font-size: 1.2em;">New</span>
                <span ng-show="realEstate.PriceChange != 0" class="glyphicon glyphicon-pencil" style="color: red; font-size: 1.2em;">Price Change {{::realEstate.PriceChange}}</span>
            </td>
@*            <td>{{::realEstate.MlsId}}</td>*@
            <td>{{::realEstate.Price}}</td>
            <td>{{::realEstate.YearBuild}}</td>
            <td><a ng-href="{{::realEstate.RelativeDetailsURL}}" target="_blank">Realtor</a></td>
            <td><a ng-href="{{::realEstate.AlternateURL}}" target="_blank" ng-if="realEstate.AlternateURL">More&nbsp;info</a></td>

            <td style="width: 180px">
                <div class="btn-group btn-group-justified">
                <label class="btn btn-success btn-xs" ng-click="sendSatus($event, realEstate, 'Yes');" ng-class="{ 'disabled': realEstate.Status == 'Yes' }">Yes</label>
                <label class="btn btn-danger btn-xs" ng-click="sendSatus($event, realEstate, 'No');">No</label>
                <label class="btn btn-warning btn-xs" ng-click="sendSatus($event, realEstate, 'Maybe');" ng-class="{ 'disabled': realEstate.Status == 'Maybe' }">Maybe</label>
              </div>
            </td>
        </tr>
    
    </tbody>
    </table>

</div>

<script src="~/Scripts/app/MainListingController.js"></script>

@Html.ActionLink("CollectData", "CollectData", "Home")
